<p-dialog
[(visible)]="createContect"
[style]="{ width: '450px' }"
[header]= "editContactData ? 'Edit Contact' : 'Create Contact'"
[modal]="true"
styleClass="p-fluid"
(visibleChange)="hideDialogs()"
>
<ng-template pTemplate="content">
  <div class="p-field">
    <label for="fname">First Name</label>
    <input
      type="text"
      [(ngModel)]="selectedContact.firstName"
      pInputText
      id="name"
      required
      autofocus
    />
    <small class="p-invalid" *ngIf="submitted && !selectedContact.firstName">FirstName is required.</small>
  </div>
  <br />
  <div class="p-field">
    <label for="lname">Last Name</label>
    <input
      type="text"
      [(ngModel)]="selectedContact.lastName"
      pInputText
      id="name"
      required
      autofocus
    />
    <small class="p-invalid" *ngIf="submitted && !selectedContact.lastName">lastName is required.</small>
  </div>
  <br />
  <div class="p-field">
    <label for="mobile">Mobile</label>
    <input
      type="text"
      [(ngModel)]="selectedContact.phone"
      pInputText
      id="name"
      required
      autofocus
    />
    <small class="p-invalid" *ngIf="submitted && !selectedContact.phone">Phone is required.</small>
  </div>
</ng-template>

<ng-template pTemplate="footer">
  <button
    pButton
    pRipple
    label="Cancel"
    icon="pi pi-times"
    class="p-button-text"
    (click)="hideDialogs()"
  ></button>
  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="p-button-text"
    (click)="saveContacts(selectedContact)"
  ></button>
</ng-template>
</p-dialog>